.NavLink {
    padding-left:30px;
    padding-right:30px;
    color:rgb(232, 230, 237);
    text-decoration: none;
    font-size: calc(10px + 2vmin);
    
}
.NavLink:hover {
    color:#dbd9d9f6;
}
nav {
    position:fixed;
    top: 0;
    background-color:rgb(55, 63, 63);
    width: 100%;
    padding-bottom:10px;
    padding-top:10px;
    z-index:1;
}